<div flex [ngStyle.lt-md]="{'height': '120px'}" style="height: 7vh; background-color: rgb(242, 208, 59)">
    <form #filterForm="ngForm" style="margin-left: 20px" (submit)="filterTrips()">
        <mat-form-field>
            <input matInput [matDatepicker]="startpicker" [formControl]="startDate" placeholder="Start date">
            <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
            <mat-datepicker #startpicker></mat-datepicker>
        </mat-form-field>
           TO
        <mat-form-field>
            <input matInput [matDatepicker]="endpicker" [formControl]="endDate" placeholder="End date">
            <mat-datepicker-toggle matSuffix [for]="endpicker"></mat-datepicker-toggle>
            <mat-datepicker #endpicker></mat-datepicker>
        </mat-form-field>
      <button class="btn btn-primary" style="margin-left: 20px">Filter</button>
    </form>
</div>
<div fxLayout="row">
  <div [ngStyle]="{'width': selectedId === null ? '100%' : 'calc(100% - 300px)' }" id="googleMap" style="height:83vh;"></div>

  <div class="col-md-8" *ngIf="selectedId !== null" style="background-color: rgb(94, 155, 255); height: 83vh; width: 300px">
    <br>
    <mat-card>

      <mat-card-header>
          <div mat-card-avatar style="
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            height: 10vh; width: 10vh;"
          [ngStyle]="{'background-image': 'url(' + selectedPictureUrl + ')'}">
          </div>
        <mat-card-title>{{ selectedTrip.name }}</mat-card-title>
        <mat-card-subtitle>
          by {{ selectedTrip.owner }} <br>
          {{ selectedTrip.location }} <br>
          {{ selectedDatesString }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          {{ selectedTrip.description }}
      </mat-card-content>
      <mat-card-actions>
        <button class="btn btn-success" (click)="joinTrip(selectedId)" *ngIf="joinStatus === 0">Join trip!</button>
        <button class="btn" disabled *ngIf="joinStatus === 1">Already joined!</button>
        <button class="btn btn-danger" disabled *ngIf="joinStatus === -1">Log in to join!</button>

      </mat-card-actions>

    </mat-card>
  </div>
</div>
