<!-- <app-datepicker
  [dateupdateHandler]="updateDates">
</app-datepicker> -->

<!-- <div class="col-md-6">
    <h2 class="col-md-8">Create New Trip</h2>

    <form #createForm="ngForm" class="col-md-8">

      <app-datepicker
        [dateupdateHandler]="updateDates">
      </app-datepicker>

      <div class="form-group">
        <label for="trip-location">Destination</label>
        <input type="text" class="form-control" #location="ngModel" name="trip-location" [(ngModel)]="this.location" placeholder="Location"/>
      </div>

      <button class="btn btn-primary">Filter</button>
    </form>
  </div> -->

<div id="googleMap" style="width:100vw;height:90vh;"></div>
