<div class="col-md-12">
    <br>
    <mat-card style="width: 300px">
      <mat-card-header>
          <div mat-card-avatar style="
            background-position: center;
            background-repeat: no-repeat;
            background-size:cover;
            height: 10vh; width: 10vh;"
          [ngStyle]="{'width.px':'220', 'background-image': 'url(' + 'https://travelmanagerpictures.s3.eu-north-1.amazonaws.com/' + traveller.picture + ')'}">
          </div>
        <mat-card-title>{{ traveller.username }}</mat-card-title>
          <mat-card-subtitle>
            <div *ngIf="traveller.country !== 'hidden'" fxLayout="row">
              <div style="
                background-position: center; background-repeat: no-repeat; height: 20px; width: 16px; margin-right: 8px;"
                [ngStyle]="{'background-image': 'url(' + 'https://travelmanagerpictures.s3.eu-north-1.amazonaws.com/flags/' + traveller.country + '.png' +  ')'}">
              </div>
              {{ codeToCountry(traveller.country) }}
            </div>
          </mat-card-subtitle>

      </mat-card-header>
      <br>
      <mat-card-content>
          {{ traveller.bio }}
      </mat-card-content>
      <mat-card-actions>
          <button (click)="changeLeader(traveller.username)" class="btn btn-warning" *ngIf="userIsOwner === true">Make trip leader</button>
      </mat-card-actions>
    </mat-card>
  </div>
