<div class="col-md-8" style="background-color: rgb(94, 155, 255) ; padding-top: 1vh; height: 90vh; width: 200px">
  <div>
      <h4>Upload picture</h4>
      <app-image-upload></app-image-upload>
  </div>
  <br>
  <div>
    <mat-form-field>
      <mat-label>Country</mat-label>
      <mat-select (selectionChange)="updateCountry()" [(value)]="selectedCountry">
        <mat-option *ngFor="let country of objectKeys(countries.isoCountries)" [value]="countries.isoCountries[country]">
          {{ countries.isoCountries[country] }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <br>
  <form name="bioForm" #f="ngForm" (ngSubmit)="updateBio()">
    <h4>Bio</h4>
    <textarea name="bioBox" rows="5" #bio="ngModel" type= "text" [(ngModel)]="userBio" class="form-control"></textarea>
    <br>
    <button class="btn btn-primary">Save</button>
  </form>
  <br>
  <div>
    <h4>Log Out</h4>
    <button class="btn btn-danger" (click)="logOut()">Log Out</button>
  </div>

</div>

