<div class="row">
  <div class="col-md-12">
    <h2>Create Traveller</h2>
  </div>
</div>
<div class="row">
  <form class="col-md-12">
    <div class="form-group">
      <label for="contact-firstname">First Name</label>
      <input class="form-control" firstname="contact-firstname" [(ngModel)]="contact.firstname" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <label for="contact-lastname">Last Name</label>
      <input class="form-control" name="contact-lastname" [(ngModel)]="contact.lastname" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <label for="contact-username">Username</label>
      <input class="form-control" name="contact-username" [(ngModel)]="contact.username" placeholder="Username"/>
    </div>
    <div class="form-group">
      <label for="contact-password">Password</label>
      <input class="form-control" name="contact-password" [(ngModel)]="contact.password" placeholder="12345"/>
    </div>
    <button class="btn btn-primary" (click)="createContact()">Create</button>
  </form>
</div>
