<div style="height: 83vh;" fxLayout="row">
  <div style="background-color: rgb(70, 217, 191);" *ngIf="selectedTraveller != null">
    <app-traveller-profile
      [traveller]="selectedTraveller">
    </app-traveller-profile>
  </div>

  <img *ngIf="trip.owner === user.username" style="height: 30px; pointer-events: none; right: 16px; top: -10px; position: absolute; z-index: 2" src="https://s3.eu-north-1.amazonaws.com/travelmanagerpictures/icon-owner">
  <div style="background-color: rgb(63, 81, 181); width: 100px">
      <div fxLayoutAlign="end center" style="resize: none; height: 48px" *ngFor="let member of this.members | orderBy: '_id'; let odd = odd; let even = even" (click)="selectTraveller(member)" [class.odd]="odd" [class.even]="even">
            <label ng-class-odd="'odd'" flex style="margin-left: auto; margin-right: auto"><b>{{ member.firstname.slice(0,2) + member.lastname.slice(0,2) }}</b></label>
              <mat-icon flex style="
              z-index: 1;
              background-position: center;
              background-repeat: no-repeat;
              background-size:cover;
              height: 48px; width: 48px;"
              [ngStyle]="{'background-image': 'url(' + profilePictureUrl + member.picture + ')'}">
                <img [ngStyle.lt-md]="{'top': '-17px'}" *ngIf="trip.owner === member.username" style="height: 30px; pointer-events: none; left: 9px; top: -22px; position: relative; z-index: 2" src="https://s3.eu-north-1.amazonaws.com/travelmanagerpictures/icon-owner">
              </mat-icon>
      </div>
      <div *ngIf="userIsOwner === true" fxLayoutAlign="center center" style="resize: none; height: 48px" (click)="goToAddNew()">
        <img src="https://s3.eu-north-1.amazonaws.com/travelmanagerpictures/icon-add" width="40px" height=40px>
      </div>
  </div>
</div>

