<div class="row">
  <div class="col-md-5">
    <h2>Create New Traveller</h2>
  </div>
</div>
<div class="row">
  <form #createForm="ngForm" class="col-md-5">

    <div class="form-group">
      <label for="traveller-forename">First name</label>
      <input class="form-control" name="traveller-forename" [(ngModel)]="traveller.forename" placeholder="Eino"/>
    </div>
    <div class="form-group">
      <label for="traveller-lastname">Last Name</label>
      <input class="form-control" name="traveller-lastname" [(ngModel)]="traveller.lastname" placeholder="Ensimmainen"/>
    </div>
    <div class="form-group">
      <label for="traveller-username">Username</label>
      <input class="form-control" name="traveller-username" [(ngModel)]="traveller.username" placeholder="Eka"/>
    </div>
    <div class="form-group">
      <label for="traveller-password">Password</label>
      <input class="form-control" name="traveller-password" [(ngModel)]="traveller.password" placeholder="12345"/>
    </div>
    <button class="btn btn-primary" (click)="createTraveller(traveller); createForm.reset()">Create</button>

  </form>

<code>forename = {{ traveller.forename }}</code><br>
<code>lastname = {{ traveller.lastname }}</code><br>
<code>username = {{ traveller.username }}</code><br>
<code>password = {{ traveller.password }}</code>

</div>

