<div style="font-family: Verdana, Geneva, sans-serif; background-color: rgb(247, 250, 255); text-align: center; border-radius: 20px;" >
    <form style="padding: 35px; width: 300px;" class="align-middle" #createForm="ngForm" (ngSubmit)="createTraveller(traveller);">
      <img style="height: 15vh; resize: both" src="..\assets\appicon.png">
      
      <h2 style="font-size: 42px;">New Traveller</h2>
      
      <div class="form-group">
          <label for="traveller-firstname">First name:</label>
          <input type="text" class="form-control" #firstname="ngModel" required name="traveller-firstname" [(ngModel)]="traveller.firstname" placeholder="First Name"/>
        </div>
    
        <div class="form-group">
          <label for="traveller-lastname">Last Name:</label>
          <input type="text" class="form-control" #lastname="ngModel" required name="traveller-lastname" [(ngModel)]="traveller.lastname" placeholder="Last Name"/>
        </div>
    
        <div class="form-group">
          <label for="traveller-username">Username:</label>
          <input type="text" class="form-control" #username="ngModel" required name="traveller-username" [(ngModel)]="traveller.username" placeholder="Username"/>
        </div>
    
        <div class="form-group">
          <label for="traveller-password">Password:</label>
          <input type="text"  class="form-control" #password="ngModel" required name="traveller-password" [(ngModel)]="traveller.password" placeholder="Password"/>
        </div>
        <button class="btn btn-success" [disabled]="!createForm.valid">Create</button>
        <div *ngIf="createsuccess === 1" class="alert alert-success" style="margin-top:1vh">
            Traveller successfully created
        </div>
        <div *ngIf="createsuccess === -1" class="alert alert-danger" style="margin-top:1vh">
            Username unavailable
        </div>
        <div *ngIf="createsuccess === -2" class="alert alert-danger" style="margin-top:1vh">
            Failed to create user
        </div>
    </form>
  </div>


