<div id="googleMap" style="width:500px;height:380px;"></div>
<div *ngIf="targetMarker.getPosition() != null">
  <h4>Add New Marker</h4>

  <form #addMarkerForm="ngForm">

    <div class="form-group">
      <label for="marker-note">Note</label>
      <input type="text" class="form-control" #note="ngModel" name="marker-note" [(ngModel)]="markerNote"/>
    </div>

    <div class="form-group">
      <label for="marker-type">Type  </label>
      <select #type="ngModel" [(ngModel)]="markerType"  name="marker-type">
        <option>Lodging</option>
        <option>Dining</option>
        <option>Drinking</option>
        <option>Shopping</option>
        <option>Sightseeing</option>
        <option>Other</option>
      </select>
    </div>
    <div>
      <button class="btn btn-primary col-md-3" (click)="confirmMarker();">Add</button>
      <span class=col-md-6></span>
      <button class="btn btn-danger col-md-3" (click)="cancelMarker();">Cancel</button>
    </div>
  </form>
</div>

