<div class="row">
  <div class="col-md-5">
    <h2>Travellers</h2>
    <ul class="list-group">
      <li class="list-group-item"
        *ngFor="let traveller of travellers"
        (click)="selectTraveller(traveller)"
        [class.active]="traveller === selectedTraveller">
        {{traveller.lastname}}
      </li>
    </ul>
    <button class="btn btn-warning" (click)="createNewTraveller()">New</button>
  </div>
  <div class="col-md-5 col-md-offset-2">
    <traveller-details
      [traveller]="selectedTraveller"
      [createHandler]="addTraveller"
      [updateHandler]="updateTraveller"
      [deleteHandler]="deleteTraveller">
    </traveller-details>
  </div>
</div>
