    <mat-toolbar color="primary">
     <!--<div fxHide.gt-xs>
       <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
      <div>
       <a>
          <img src="../assets/appiconsmall.png">
          TravelManager
       </a>
     </div> -->
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  >
        <ul fxLayout fxLayoutGap="20px" class="navigation-items">

            <li>
                <a>
                  <mat-icon class="icon">map</mat-icon>
                  <span fxHide.xs class="label" (click)="setView('findtrips');">Find Trips</span>
                </a>
            </li>
            <li *ngIf="this._userData.getUserData() != null">
                <a>
                    <mat-icon class="icon" (click)="setView('mytrips');">flight_takeoff</mat-icon>
                    <span fxHide.xs class="label" (click)="setView('mytrips');">My Trips</span>
                </a>
              </li>
              <li *ngIf="this._userData.getUserData() != null">
                <a>
                    <mat-icon class="icon" (click)="setView('createtrip');">add_circle_outline</mat-icon>
                    <span fxHide.xs class="label" (click)="setView('createtrip');">Create Trip</span>
                </a>
              </li>
            <li *ngIf="this._userData.getUserData() == null">
                <a>
                  <mat-icon class="icon" (click)="setView('createtraveller');">person_add</mat-icon>
                  <span fxHide.xs class="label" (click)="setView('createtraveller');">Create Account</span>
                 </a>
            </li>
            <li *ngIf="this._userData.getUserData() == null">
              <a>
                <mat-icon class="icon" (click)="setView('login');">lock_open</mat-icon>
                <span fxHide.xs class="label" (click)="setView('login');">Log In</span>
               </a>
            </li>
            <li *ngIf="this._userData.getUserData() != null">
              <a>
                <mat-icon class="icon" (click)="logOut();">lock</mat-icon>
                <span fxHide.xs class="label" (click)="logOut();">Log Out</span>
               </a>
            </li>
        </ul>
     </div>
    </mat-toolbar>

<div *ngIf="this._userData.getView() == 'findtrips'">
    <app-public-trips></app-public-trips>
</div>
<div *ngIf="this._userData.getView() == 'trip'">
  <app-trip-hub></app-trip-hub>
</div>

<div *ngIf="this._userData.getView() == 'createtraveller'">
  <app-traveller-create></app-traveller-create>
</div>

<div *ngIf="this._userData.getView() == 'mytrips'">
  <app-my-trips></app-my-trips>
</div>

<div *ngIf="this._userData.getView() == 'createtrip'">
  <app-trip-create></app-trip-create>
</div>

<div *ngIf="this._userData.getView() == 'login'">
  <app-traveller-login></app-traveller-login>
</div>
