<div class="container" style=" height:83vh; width:600px; padding-bottom:12px; padding-top:12px; background-color: rgb(94, 155, 255)">


  <div id="notifications" style="overflow-y: scroll; height:55vh">

    <mat-card *ngFor="let notification of notifications | orderBy: '_id'" style="margin-bottom: 8px; margin-right: 12px">


      <mat-card-subtitle>
        {{ notification.timestamp }} <img style = "width:24px; height:24px; margin-left: 5px" src = {{notification.icon}}>
      </mat-card-subtitle>
      <mat-card-content>
          {{ notification.content }}
      </mat-card-content>


    </mat-card>

  </div>



</div>
