<div [ngStyle.lt-md]="{'width':'100%' }" id="notifications" style="height:83vh; background-color: rgb(94, 155, 255); width:600px; overflow-y: auto; height:83vh">

    <mat-card *ngFor="let notification of notifications | orderBy: '_id'" style="margin: 12px">


      <mat-card-subtitle>
        {{ notification.timestamp }} <img style = "width:24px; height:24px;" src = {{notification.icon}}>
      </mat-card-subtitle>
      <mat-card-content>
          {{ notification.content }}
      </mat-card-content>


    </mat-card>

</div>
