<div>
    <form style="background-color: rgb(94, 155, 255) ; height: 90vh; width: 400px" #createForm="ngForm" (ngSubmit)="createTrip(trip);" class="col-md-8">
      <h2>Create New Trip</h2>
      <app-datepicker
        [dateupdateHandler]="updateDates">
      </app-datepicker>
      <div class="form-group">
        <label for="trip-name">Trip Name</label>
        <input type="text" class="form-control" #name="ngModel" required name="trip-name" [(ngModel)]="trip.name" placeholder="Name"/>
      </div>

      <div class="form-group">
        <label for="trip-location">Destination</label>
        <input type="text" class="form-control" #location="ngModel" required name="trip-location" [(ngModel)]="trip.location" placeholder="Location"/>
      </div>

      <div class="form-group">
          <label for="trip-description">Description</label>
          <input type="text" class="form-control" #description="ngModel" required name="trip-description" [(ngModel)]="trip.description" placeholder="Description"/>
      </div>

      <button class="btn btn-success" [disabled]="!createForm.valid">Create</button>
      <div *ngIf="createsuccess === -1" class="alert alert-danger">
      Failed to create trip, try another destination
      </div>
    </form>
  </div>
