<div [ngStyle.lt-md]="{'width.px': 250 }" style=" height: 83vh; width: 360px" fxLayout="row">
  <div fxLayout="column" style="width: 60px">
    <div fxLayoutAlign="center center" class="btn" style="border-radius: 0px; height:100px; background-color: rgb(128, 255, 217)" (click)="setTab('create')">New</div>
    <div fxLayoutAlign="center center" class="btn" style="border-radius: 0px; height:100px; background-color: rgb(212, 157, 218)" (click)="setTab('show')">Pending</div>
  </div>
  <div class="col-md-12"   style="height: 83vh; background-color: rgb(128, 255, 217);" fxLayout="column" *ngIf="selectedTab === 'create'">
      <form style="margin-top: -9px" #createForm="ngForm" (ngSubmit)="createTransactions();">

        <div fxLayoutAlign="flex-end" class="form-group">

          <mat-selection-list (selectionChange)="updateAmountPer()" name="freeloadersList" #freeloadersList="ngModel" [(ngModel)]="freeloaders">
              <mat-list-option style="height: 48px" *ngFor="let member of tripMembers | orderBy: '_id'" [value]="member.username">
                  {{ member.username }}
              </mat-list-option>
          </mat-selection-list>
        </div>

        <div fxLayoutAlign="start center" fxLayout="row">
          <mat-form-field (change)="updateAmountPer()" style="width: 40px">
              <input type="number" name="total" [(ngModel)]="selectedAmount" matInput placeholder="Total">
          </mat-form-field>

          <mat-form-field style="width: 30px; margin-left: 8px; margin-right: 8px">
            <mat-select [(value)]="selectedUnit">
              <mat-option *ngFor="let unit of unitOptions" [value]="unit">
                {{ unit }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span> = <b>{{ amountPerFreeloader }} {{ selectedUnit }}</b> per</span>
        </div>
        <div fxLayout="row">
            <mat-form-field [ngStyle.lt-md]="{'width.px': 100 }" style="margin-right: auto">
                <input type="text" name="note" [(ngModel)]="selectedSubject" matInput placeholder="Note">
            </mat-form-field>
            <span style="width: 10px"></span>
            <button [disabled]="amountPerFreeloader === 0 || freeloaders.length < 1" style="height: 35px; margin-left: auto" class="btn btn-success">Split!</button>
        </div>
      </form>


    </div>

    <div class="col-md-12" [ngStyle.lt-md]="{'width.px': 250 }" style="font-size: 10px; height:83vh; width: 360px; background-color: rgb(212, 157, 218)" fxLayout="column" *ngIf="selectedTab === 'show'">
            <div  id="transactions"  style="overflow-y: auto; ">
                <mat-card style="background-color: rgb(255, 140, 111); margin: 8px" *ngFor="let transaction of toPayTransactions | orderBy: '_id';">
                    <mat-card-content>
                        <div fxLayoutAlign="center center" fxLayout="row">
                            <div style="font-size: 12px; margin-right: auto">
                                <span style="font-size: 16px"><b>{{ transaction.amount }} {{ transaction.unit }}</b></span> to <b>{{ transaction.freeloader }}</b><br>
                                {{ transaction.subject }}
                            </div>
                            <button style="margin-left: auto" class="btn btn-success" (click)="deleteTransaction(transaction._id)">Paid</button>
                          </div>
                    </mat-card-content>
                </mat-card>
                <mat-card style="background-color: rgb(124, 235, 148); margin: 8px" *ngFor="let transaction of toReceiveTransactions | orderBy: '_id';">

                    <mat-card-content>
                      <div fxLayoutAlign="center center" fxLayout="row">
                        <div style="font-size: 12px; margin-right: auto">
                            <span style="font-size: 16px"><b>{{ transaction.amount }} {{transaction.unit}}</b></span> from <b>{{ transaction.freeloader }}</b><br>
                            {{ transaction.subject }}
                        </div>
                        <button style="height: 36px;height: 36px; margin-left: auto" class="btn btn-success" (click)="deleteTransaction(transaction._id)">Paid</button>
                      </div>
                    </mat-card-content>
                  </mat-card>
              </div >

      </div>
</div>

