<div>

  <form style="background-color: rgb(196, 94, 255) ; ; padding-top: 1vh; height: 83vh; width: 300px" #createForm="ngForm" (ngSubmit)="createTransaction(transaction);">
    <h2>New Transaction</h2>
    <div class="form-group">
      <label for="transaction-freeloader">Freeloader</label>
      <select [ngModel]="freeloaderUsername" (ngModelChange)="updateSelectedFreeloader($event)"  name="transaction-freeloader">
        <option *ngFor="let member of _userData.getTripData().members" [ngValue]="member.username"> {{ member.username }}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="transaction-amount">Amount</label>
      <input type="text" class="form-control" #amount="ngModel" required name="transaction-amount" [(ngModel)]="selectedAmount" placeholder="0"/>
    </div>

    <div class="form-group">
      <label for="transaction-subject">Subject</label>
      <input type="text" class="form-control" #subject="ngModel" name="transaction-subject" [(ngModel)]="this.transaction.subject"/>
    </div>

    <div class="form-group">
      <label for="transaction-date">Date</label>
      <input type="date" class="form-control" #subject="ngModel" name="transaction-date" [(ngModel)]="this.transaction.date"/>
    </div>

    <button class="btn btn-success" [disabled]="!createForm.valid">Create</button>
    <div *ngIf="createsuccess === 1" class="alert alert-success">
    Transaction successfully created
    </div>
    <div *ngIf="createsuccess === -1" class="alert alert-danger">
      Username unavailable
      </div>
      <div *ngIf="createsuccess === -2" class="alert alert-danger">
      Failed to create user
      </div>
  </form>
</div>
