<div style="background-color: rgb(63, 81, 181); height: 90vh;">
    <div fxLayoutAlign="end center" style="resize: none; height: 8vh" *ngFor="let trip of this.trips | orderBy: '_id'; let odd = odd; let even = even" (click)="selectTrip(trip)" [class.odd]="odd" [class.even]="even">
          <label ng-class-odd="'odd'" flex style="margin-left: 8px; margin-right: 8px"><b>{{ trip.name }}</b></label>
          <mat-icon flex style="
          background-position: center;
          background-repeat: no-repeat;
          background-size:cover;
          height: 8vh; width: 8vh;"
          [ngStyle]="{'background-image': 'url(' + tripPictureUrl + trip.picture + ')'}">
          </mat-icon>
    </div>
</div>

