.even {
  color: black;
  background-color: rgb(201, 212, 230);
}
.odd {
  color: white;
  background-color: rgb(33, 62, 110);
}
.img-spinning-circle {
  width: 48px;
  height: 64px;
}
.img-spinning-circle:after {
  content: " ";
  display: block;
  width: 48px;
  height: 48px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
